{% extends "header.twig" %}

{% block title %}Aide{% endblock %}
{% block aide_active %}active{% endblock %}

{% block content %}
  <h2>Champs du formulaire de recherche</h2>
  
  <h4>Nombre de tweets</h4>
  <p>
    Plus le nombre de tweet demandé est grand, plus la réponse sera longue, au
    dela de 1000 tweets, vous risquez fortement de voir le site échouer pour
    cause de "timeout" (temps d'attente trop long).
  </p>

  <h4>Format de la requête</h4>
  <p>
    Il est impossible de mettre le symbole &quot dans le champs "Recherche",
    pour des raisons techniques.
  </p>

  <h4>Format de la fenêtre de temps</h4>
  <p>
    Fonctionnement de la fenêtre temporelle :
    <ul>
      <li>La date du champ "Du" est incluse dans la fenêtre recherchée.</li>
      <li>La date du champ "au" est exclue de la fenêtre recherchée.</li>
    </ul>
    Cela signifie par exemple que pour rechercher les tweets du 5 janver 2017,
    il faut sélectionner : "Du 05/01/2017 au 06/01/2017".
  </p>

  <h4 id="top_tweeting">¡¡ Le ToP tWeEtiNg !!</h4>
  <p>
    Ca permet globalement de toper des tweets qui ont plus de RTs / favs. Par
    &quotglobalement&quot, j'entend que je sais pas comment fonctionne cette
    chose, mais juré ça file des résultats plus populaires. Par conte vous
    n'aurez pas tous les tweets de la periode.
  </p>

  <h4>Auteurice</h4>
  <p>
    Permet de filtrer les tweets afind de ne recevoir que ceux provenant
    d'un·e auteurice donné·e.
  </p>
  <p>
    Il faut rentrer le &quotnom d'utilisateur&quot (le &#64name). Écrire le
    caractère &#64 est facultatif cependant.
  </p>

  <h2>Obtenir de bons tweets</h2>
  <p>
    Cette interface vise à simplifier la recherche d'anciens tweets. Néanmoins
    elle est imparfaite et parfois peu pratique. Voici quelques conseils pour
    l'utiliser de manière efficace.
  </p>

  <h4>Langue et pays du tweet</h4>
  <p>
    Cette interface ne permet de filtrer les tweets ni via leur
    géolocalisation, ni via leur langue ou aucune métadonnée de la sorte. Il
    va falloir vous contenter de remplir le champ &quotRecherche&quot de sorte
    à obtenir des tweets dans la langue souhaitée. Cela pose bien sur des
    problèmes lorsque l'on cherche des mots utilisés internationalement, tels
    que les noms propres.
  </p>
  <p>
    Je vais peut être essayer d'implémenter une fonctionnalité de filtre par
    zone géographique, mais je ne suis pas sur d'y arriver.
  </p>

  <h4>Nombre de tweets et meilleurs tweets</h4>
  <p>
    Lors que vous demandez &quot28 tweets, de 2012 à 2014, triés par nombre de
    RTs&quot, mon site commence par récupérer 28 tweets, puis les trie par
    nombre de RTs.
  </p>
  <p>
    Cela signifie que vous n'allez pas recevoir les 28 tweets les plus RT de
    2012-2014. Mais que vous allez recevoir 28 tweets de 2012-2014, et qu'il
    seront affichés par nombre de RTs décroissants. Quels tweets seront pris ?
    Comment sont choisis ces 28 tweets ? Je n'en sais rien, ce n'est pas moi
    qui ai codé cette partie là.
  </p>
  <p>
    Comment faire pour obtenir les 28 meilleurs tweets de 2012-2014 ? Il n'y
    a pas de solution miracle, mais voici quelques astuces&nbsp:
    <ul>
      <li>
	Réclamer un grand nombre de tweets. Puisque en réalité, la seule façon
	d'avoir les meilleurs tweets, c'est de tous les avoir. Par
	contre&nbsp: ça va être lent.
      </li>
      <li>
	Activer la fonctionnalité
	&quot<a href="#top_tweeting">top tweeting</a>&quot.
      </li>
    </ul>
  </p>
{% endblock content %}
