{% extends "header.twig" %}
{% block title %}À propos{% endblock %}
{% block apropos_active %}active{% endblock %}

{% block content %}
  <h2>À propos</h2>

  <h4>Licences</h4>
  <p>
    L'interface web est sous licence
    <a href="https://www.gnu.org/licenses/gpl.html">GPLv3</a>. Certains codes
    utilisés (récupération des tweets) sont sous licence
    <a href="https://opensource.org/licenses/MIT">MIT</a> Copyright (c) 2016
    Jefferson Henrique. Le logo twitter est une propriété de Twitter inc.
  </p>

  <h4>Auteurs</h4>
  <p>
    L'interface web est de RadeMathis et la récupération de tweets de
    Jefferson Henrique.
  </p>

  <h4>Sources</h4>
  <p>
    <ul>
      <li>
	<a href="https://gitlab.com/Rade-Mathis/got_wui">Interface web</a>
      </li>
      <li>
	<a href="https://github.com/Jefferson-Henrique/GetOldTweets-python">
	  Récupération des tweets
	</a>
      </li>
    </ul>
  </p>

  <h4>Version</h4>
  <p>Site en version 1.2.0</p>

  <h2>About</h2>

  <h4>Licences</h4>
  <p>
    Web interface is under
    <a href="https://www.gnu.org/licenses/gpl.html">GPLv3</a>. Some of the
    codes (tweets gathering) are under
    <a href="https://opensource.org/licenses/MIT">MIT licence</a> Copyright
    (c) 2016 Jefferson Henrique. Twitter's logo is Twitter inc.'s property.
  </p>

  <h4>Authors</h4>
  <p>
    Web interface is by RadeMathis and tweets gathering is by Jefferson
    Henrique.
  </p>

  <h4>Sources</h4>
  <p>
    <ul>
      <li>
	<a href="https://gitlab.com/Rade-Mathis/got_wui">Web interface</a>
      </li>
      <li>
	<a href="https://github.com/Jefferson-Henrique/GetOldTweets-python">
	  Tweets gathering
	</a>
      </li>
    </ul>
  </p>

    <h4>Version</h4>
    <p>Website in version 1.2.0</p>

{% endblock content %}
