{% extends "header.twig" %}
{% block title %}Contact{% endblock %}
{% block contact_active %}active{% endblock %}

{% block content %}
  <ul>
    <li>Par mail : mailto:rade.mathis@free.fr</li>
    <li>Sur Twitter <a href="https://twitter.com/_motiss">@_motiss</a></li>
  </ul>
{% endblock content %}
