<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <style>
      header, footer {
      overflow: hidden;
      background-color: #bbbbbb;
      padding: 20px 10px;
      }

      header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
      }
      
      header a:hover {
      background-color: #eeeeee;
      color: black;
      }

      header a.active {
      background-color: dodgerblue;
      color: white;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header-menu">
	<a href="/got_wui" class="{% block accueil_active %}{% endblock %}">
	  GetOldTweets
	</a>
	<a href="/got_wui/aide" class="{% block aide_active %}{% endblock %}">
	  Aide
	</a>
	<a href="/got_wui/apropos"
	   class="{% block apropos_active %}{% endblock %}">
	   À propos
	</a>
	<a href="/got_wui/contact"
	   class="{% block contact_active %}{% endblock %}">
	   Contact
	</a>
      </div>
    </header>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
