{% extends "header.twig" %}
{% block title %}Farming Twitter's past{% endblock %}
{% block accueil_active %}active{% endblock %}

{% block content %}
  <h3>Rentrer les parametres de la recherche</h3>
  <form method="post" action=".">
    <p>Recherche <input type="search" name="query" value="{{ query }}"></p>
    <p>
      De <input type="date" name="from_date" value="{{ from_date }}">
      à <input type="date" name="to_date" value="{{ to_date }}">
    </p>
    <p>
      Nombre de tweets maximum
      <input type="number" name="max_nb_tweets" min="1"
	     value="{{ max_nb_tweets }}">
    </p>
    <p>
      Activer le top tweeting
      <input type="checkbox" name="top_tweets"
	     {% if top_tweets %} checked {% endif %}
	     </input>
    </p>
    <p>
      Trier par
      <select name="sort_type">
	<option {% if sort_type == "fav" %} selected {% endif %} value="fav">
	  nombre de favs
	</option>
	<option {% if sort_type == "RT" %} selected {% endif %} value="RT">
	  nombre de RTs
	</option>
	<option
	  {% if sort_type == "young" %} selected {% endif %} value="young">
	  date (plus récents en premiers)
	</option>
	<option {% if sort_type == "old" %} selected {% endif %} value="old">
	  date (plus anciens en premiers)
	</option>
      </select>
    </p>
    <p>
      Par auteurice
      <input type="query" name="username" value="{{ username }}"></input>
    </p>
    <input type="submit" value="Lancer" name="normal_request"/>
  </form>
  {% if payload == "nothing" %}
  {% elseif payload == "tweets" %}

    <p>{{ intro }}</p>
    <table style="width:100%" frame="void" rules="all" border="1">
      <tbody>
	<tr><th>Link</th><th>RTs</th><th>favs</th><th>Apperçu</th></tr>
	{% for tweet in tweets %}
	  <tr>
	    <td>
	      <a href="{{ tweet|first }}">
		<img src="/ressources/images/Twitter_Logo_Blue.svg"
		     alt="lien">
		</img>
	      </a>
	    </td>
	    {% for field in tweet|slice(1,4) %}
	      <td>{{ field }}</td>
	    {% endfor %}
	  </tr>
	{% endfor %}
      </tbody>
    </table>   
    
  {% elseif payload == "error" %}
    <h3>Erreur utilisateur</h3>
    <p>{{ error_message }}</p>
  {% else %}
    strange error : insult the dev
  {% endif %}

{% endblock content %}
